.gallery {
    max-width: 1440px;
    background-color: #FFFFFF;
    margin: auto;
    overflow: hidden;
    transition: max-width 0.5s ease-in-out;
    border-radius: 15px;
}

@media screen and (max-width: 1439px) {
    .gallery {
        max-width: 1175px;
    }
}

@media screen and (max-width: 1174px) {
    .gallery {
        max-width: 920px;
    }
}