.header__username {
    color: #000000;
    text-shadow: 0px 4px 4px #00000040;
    font-size: 15px;
    line-height: calc(18/15);
    font-family: 'Inter' Arial, Helvetica, sans-serif;
    font-weight: 400;
    text-decoration: none;
    justify-self: center;
    max-width: 125px;
    overflow: hidden;
    text-overflow: ellipsis;
}