.header__input {
    border: 0;
    padding: 0;
    width: 257px;
    height: 26px;
    border-radius: 15px;
    transition: width 0.5s ease-in-out, margin-left 0.5s ease-in-out;;
    justify-self: start;
    align-self: center;
    margin-left: 33px;
    padding-left: 15px;
}

.header__input:focus {
    outline: none;
    width: 300px;
}

.header__input::placeholder {
    font-family: 'Gilroy Thin', Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: calc(14/12);
}

.header__input::-webkit-input-placeholder {
    font-family: 'Gilroy Thin', Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: calc(14/12);
}

.header__input::-moz-placeholder {
    font-family: 'Gilroy Thin', Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: calc(14/12);
}

.header__input::-ms-input-placeholder {
    font-family: 'Gilroy Thin', Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: calc(14/12);
}

@media screen and (max-width: 1439px) {
    .header__input {
        margin-left: 25px;
        width: 175px;
    }
    .header__input:focus {
        width: 225px;
    }
}