.header__authorization {
    margin-left: 36px;
    display: grid;
    grid-template-columns: 138px 51px;
    align-items: center;
}

@media screen and (max-width: 1439px) {
    .header__authorization {
        margin-left: 20px;
    }
}