.header {
    background-color: rgba(113, 191, 235, 0.8);
    display: grid;
    grid-template-columns: 119px max-content 379px 303px 225px auto;
    max-width: 1440px;
    margin: 0 auto 46px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    transition: grid-template-columns 0.5s ease-in-out, max-width 0.5s ease-in-out;
    position: relative;
}

@media screen and (max-width: 1439px) {
    .header {
        max-width: 1175px;
        grid-template-columns: 104px max-content 275px 215px 205px auto;
    }
}


@media screen and (max-width: 1174px) {
    .header {
        max-width: 920px;
        grid-template-columns: 104px max-content 255px auto;
    }
}