.header {
    background-color: #71BFEB;
    display: grid;
    grid-template-columns: 119px max-content 379px 303px 225px auto;
    max-width: 1440px;
    margin: auto;
    transition: max-width 0.6s linear;
}

@media screen and (max-width: 1439px) {
    .header {
        max-width: 1175px;
        grid-template-columns: 97px max-content 275px max-content 205px auto;
    }
}