.header {
    background-color: #71BFEB;
    display: grid;
    grid-template-columns: 119px max-content 379px 303px 225px auto;
    max-width: 1440px;
    margin: 0 auto 46px;
    transition: grid-template-columns 0.5s ease-in-out, max-width 0.5s ease-in-out, border-bottom-left-radius 2s ease-in-out, border-bottom-right-radius 2s ease-in-out;
}
@media screen and (min-width: 1441px) {
    .header {
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
    }
}

@media screen and (max-width: 1439px) {
    .header {
        max-width: 1175px;
        grid-template-columns: 97px max-content 275px 215px 205px auto;
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
    }
}

@media screen and (max-width: 1175px) {
    .header {
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
    }
}