@import url(../vendor/normalize.css);

@import url(../fonts/Gilroy-Thin/Gilroy-Thin.css);

@import url(../blocks/page/page.css);

@import url(../blocks/header/header.css);
@import url(../blocks/header/__logo-link/header__logo-link.css);
@import url(../blocks/header/__title/header__title.css);
@import url(../blocks/header/__input/header__input.css);
@import url(../blocks/header/__link/header__link.css);
@import url(../blocks/header/__username/header__username.css);
@import url(../blocks/header/__profile-button/header__profile-button.css);
@import url(../blocks/header/__theme-change/header__theme-change.css);
@import url(../blocks/header/__nav/header__nav.css);
@import url(../blocks/header/__authorization/header__authorization.css);
@import url(../blocks/header/__dropdown-button/header__dropdown-button.css);
@import url(../blocks/header/__dropdown-menu/header__dropdown-menu.css);

@import url(../blocks/gallery/gallery.css);
@import url(../blocks/gallery/__intro/gallery__intro.css);
@import url(../blocks/gallery/__title/gallery__title.css);
@import url(../blocks/gallery/__pictures/gallery__pictures.css);
@import url(../blocks/gallery/__picture/gallery__picture.css);
@import url(../blocks/gallery/__column/gallery__column.css);

@import url(../blocks/footer/footer.css);
@import url(../blocks/footer/__copyright/footer__copyright.css);
@import url(../blocks/footer/__developer-list/footer__developer-list.css);


.depressedrn {
    width: 88px;
    height: 88px;
    background-image: url('https://media.tenor.com/HeKbJjBzwc8AAAAi/girl-cute.gif');
    background-size: cover;
    background-position: center;
    border-radius: 10px;
}