@font-face {
    font-family: 'Gilroy Thin';
    src: url('Gilroy-Thin.eot');
    src: url('Gilroy-Thin.eot?#iefix') format('embedded-opentype'),
    url('Gilroy-Thin.woff') format('woff'),
    url('Gilroy-Thin.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}