.footer {
    background-color: rgba(113, 191, 235, 0.8);
    max-width: 1440px;
    margin: 48px auto 0;
    transition: max-width 0.5s ease-in-out;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 1439px) {
    .footer {
        max-width: 1175px;
    }
}

@media screen and (max-width: 1174px) {
    .footer {
        max-width: 920px;
    }
}