.header__title {
    color: #FFFFFF;
    margin: 0;
    text-shadow: 0px 4px 4px #00000040;
    font-size: 23px;
    line-height: calc(24/20);
    font-family: 'Inria Serif', 'Times New Roman', Times, serif;
    font-weight: 400;
    align-self: center;
}